.card {
  flex: 0 0 33.333%;

  padding: 0 15px;
  box-sizing: border-box;
}
.cardInner {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: var(--radius05);
    overflow-clip-margin: unset;
  }
}

.cardPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 15px 0 15px;
  box-sizing: border-box;
}
.like {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;

  svg {
    width: 100%;
    height: 100%;
  }
  g {
  }

  .filled {
    fill: black;
    transition: var(--transition02s);
  }
}
.name {
}
